<div class="mainContainer_outerContent" id="pageTitle">

    <h1 class="mainContainer_innerContent"><a href="/" id="home">BLUE-déx</a></h1>


</div>

<div class="blackStripe"></div>

<nav class="mainContainer_outerContent" id="mainMenu">
    <div class="mainContainer_innerContent" id="mainMenu_innerContent">
        <button class="menuItem" id="menu_all"> <span class="menuBullet">>></span> ALL Pokémon </button>
        <button class="menuItem" id="menu_new"> <span class="menuBullet">>></span> NEW Pokémon </button>
        <button class="menuItem" id="menu_info"> <span class="menuBullet">>></span> INFORMATION </button>
    </div>
</nav>

<div class="blackStripe"></div>