<!DOCTYPE html>
<html lang="en">

<head>

    <%- include( 'partials/head'); %>

        <title>BLUE-dex</title>
</head>

<body>

    <%- include('partials/gameboy'); %>

        <div id="mainContainer">

            <%- include('partials/title+nav'); %>

                <main class="mainContainer_outerContent" id="mainContent">

                    <div class="mainContainer_innerContent">


                        <section> VARYING CONTENT </section>


                    </div>
                </main>
        </div>

        <script src="/JS/script.js"></script>

</body>

</html>