section#pokemonCards_all {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}

div.pokemonCardContainer {
  width: 40%;
}

div.pokemonCardBox {
  width: 90%;
  aspect-ratio: 1;
  display: flex;
  background-color: rgba(255, 255, 255, 0.35);
  background-size: 130%;
  background-position: 10% 30%;
  border-radius: 50%;
  box-shadow: 5px 5px 0px 5px rgba(0, 0, 0, 0.05);
}

div.pokeballContainer {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
}

div.pokeballContainer:hover {
  cursor: pointer;
  opacity: 0.9;
}

div.pokeballContainer img {
  max-width: 100%;
}

div.mainPokemonSummary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* 📌 LARGE  */

@media screen and (min-width: 700px) {
  div.pokemonCardContainer {
    width: 20%;
  }
}
