@font-face {
    font-family: 'Pokemon GB';
    src: url('../fonts/Pokemon_GB.woff') format('woff');
}

@import url("https://use.typekit.net/kij5yty.css");
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pokemon GB', sans-serif;
    font-size: 1em;
}