<!DOCTYPE html>
<html lang="en">
<!--  👁‍🗨 correct lang-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./index_small.css">
    <link rel="stylesheet" href="./index_large.css">
    <link rel="icon" href="./favicon.png">
    <!-- 👁‍🗨 transport to main project -->

    <title>BLUE-dex</title>
</head>

<body>

    <div id="gameboyContainer">

        <div id="gameboy">

            <div id="screenContainer">

                <div id="screen">
                    screen
                </div>

            </div>

            <div id="controlsContainer">

                <div id="directionalContainer">

                    <div id="topRow"></div>
                    <div id="midRow">

                        <div id="midRow_leftCol"></div>
                        <div id="midRow_midCol"></div>
                        <div id="midRow_rightCol"></div>

                    </div>
                    <div id="bottomRow"></div>

                </div>

                <div id="btnABContainer">

                    <div class="roundBtn" id="btnB">B</div>
                    <div class="roundBtn" id="btnA">A</div>

                </div>

            </div>

            <div id="btnHoverTip">hover tip</div>

        </div>
    </div>

</body>

</html>