<!DOCTYPE html>
<html lang="en">
<!--  👁‍🗨 correct lang-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./index_small.css">
    <link rel="stylesheet" href="./index_large.css">
    <link rel="icon" href="./favicon.png">
    <!-- 👁‍🗨 transport to main project -->

    <title>BLUE-dex</title>
</head>

<body>

    <div id="gameboyContainer">

        <div id="gameboy">

            <div id="screenContainer">

                <div id="screen">

                    <div class="screenContent" id="screenContent01">

                        <span class="pokemonNumber">#001</span>

                        <div class="screenImgContainer">

                            <img src="./pokemon_gifs/001.gif" class="pokemonImg">

                        </div>

                        <span class="pokemonName">Bulbasaur</span>
                        <span class="pokemonType">Grass / Poison</span>

                    </div>

                    <div class="screenContent" id="screenContent02">

                        <span class="pokemonNumber">#004</span>

                        <div class="screenImgContainer">

                            <img src="./pokemon_gifs/004.gif" class="pokemonImg">

                        </div>

                        <span class="pokemonName">Charmander</span>
                        <span class="pokemonType">Fire</span>

                    </div>

                    <div class="screenContent" id="screenContent03">

                        <span class="pokemonNumber">#007</span>

                        <div class="screenImgContainer">

                            <img src="./pokemon_gifs/007.gif" class="pokemonImg">

                        </div>

                        <span class="pokemonName">Squirtle</span>
                        <span class="pokemonType">Water</span>


                    </div>

                </div>
            </div>

            <div id="controlsContainer">

                <div id="directionalContainer">

                    <div class="topRow directionalBtn" id="directionalBtn_up">5</div>
                    <div class="midRow">

                        <div class="midRow_leftCol directionalBtn" id="directionalBtn_left">U</div>
                        <div class="midRow_midCol"></div>
                        <div class="midRow_rightCol directionalBtn" id="directionalBtn_right">V</div>

                    </div>
                    <div class="bottomRow directionalBtn" id="directionalBtn_down">?</div>

                </div>

                <div id="btnABContainer">

                    <div class="roundBtn" id="btnB">B</div>
                    <div class="roundBtn" id="btnA">A</div>

                </div>

            </div>

            <div id="btnHoverTip"></div>

        </div>

        <div id="instructions">
            <img src="./instruc_directional.png" alt="">
            <img src="./intruct_roundBtns.png" alt="">
        </div>

    </div>

    <div id="mainContainer">

        <div class="blackStripe" id="divider_titleTop"></div>

        <h1 id="pageTitle">BLUE-déx</h1>

        <div class="blackStripe"></div>

        <nav id="mainMenu">
            <button class="menuItem" id="menu_instruction"> <span class="menuBullet">>></span> INSTRUCTIONS </button>
            <button class="menuItem" id="menu_new"> <span class="menuBullet">>></span> NEW Pokémon </button>
            <button class="menuItem" id="menu_cheatsheet"> <span class="menuBullet">>></span> CHEATSHEET </button>
        </nav>

        <div class="blackStripe" id="divider_navBottom"></div>

        <main id="mainContent">

        </main>

    </div>

    <script src="./layout_script.js"></script>

</body>

</html>