@media screen and (min-width: 700px) {
    body {
        flex-direction: row;
        overflow: hidden;
    }
    /* 📌📌📌🚨 ----- GAMEBOY ----- */
    div#gameboyContainer {
        width: 50%;
        height: 100vh;
    }
    div#gameboy {
        width: 42.5%;
    }
    div.directionalBtn:hover {
        color: #fff;
        cursor: pointer;
    }
    div.roundBtn:hover {
        cursor: pointer;
    }
    /* 📌📌📌🚨 ----- MAIN ----- */
    div#divider_titleTop {
        display: none;
    }
    div#mainContainer {
        width: 50%;
    }
    h1#pageTitle {
        padding: 5%;
        text-align: left;
    }
    nav#mainMenu {
        flex-direction: row;
        justify-content: space-between;
    }
    button.menuItem:hover {
        background: #E3350D;
        color: #fff;
        cursor: pointer;
    }
    div#divider_navBottom {
        display: flex;
    }
}